streamlit
pandas
scikit-learn
ydata-profiling
streamlit-pandas-profiling
plotly
numpy
fpdf
openpyxl
pyarrow
scipy
matplotlib
seaborn
xgboost
sweetviz
autoviz
pandas-dq
missingno
textblob
nltk
wordcloud
fastapi
uvicorn
requests
setuptools
ydata-profiling
streamlit-pandas-profiling
pandas-profiling
